# Data Summary for Dataset 1
Load in Pre-Processed Data: population_by_country_2020.csv

Reference
1.	Population by Country – 2020: https://www.kaggle.com/datasets/tanuprabhu/population-by-country-2020?resource=download 

Using Pandas Library

## Step 1 - Import Pandas Library

In [4]:
import pandas as pd

## Step 2 - Load the dataset

In [5]:
vFilePath = '../0_Dataset/population_by_country_2020.csv'
vDataFrame = pd.read_csv(vFilePath)

## Step 3 - Data Overview

In [6]:
print("---------------------- Data Overview ----------------------")
print("")
print("---------------- Population by Country 2020 ----------------")

print("This is the shape of the dataset")
print(vDataFrame.shape)

print("\nThis is the index of the dataset")
print(vDataFrame.index)

print("\nThese are the columns in the dataset")
print(vDataFrame.columns)

print("\nThe total number of non-NA values in this dataset is:")
print(vDataFrame.notna().sum())

print("\nA summary of this dataset is shown below:")
vDataFrame.info()

print("\nA descriptive statistical summary of this dataset is shown below:")
print(vDataFrame.describe())

---------------------- Data Overview ----------------------

---------------- Population by Country 2020 ----------------
This is the shape of the dataset
(235, 11)

This is the index of the dataset
RangeIndex(start=0, stop=235, step=1)

These are the columns in the dataset
Index(['Country (or dependency)', 'Population (2020)', 'Yearly Change',
       'Net Change', 'Density (P/Km²)', 'Land Area (Km²)', 'Migrants (net)',
       'Fert. Rate', 'Med. Age', 'Urban Pop %', 'World Share'],
      dtype='object')

The total number of non-NA values in this dataset is:
Country (or dependency)    235
Population (2020)          235
Yearly Change              235
Net Change                 235
Density (P/Km²)            235
Land Area (Km²)            235
Migrants (net)             201
Fert. Rate                 235
Med. Age                   235
Urban Pop %                235
World Share                235
dtype: int64

A summary of this dataset is shown below:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    object
 1   Population (2020)        235 non-null    int64
 2   Yearly Change            235 non-null    object
 3   Net Change               235 non-null    int64
 4   Density (P/Km²)          235 non-null    int64
 5   Land Area (Km²)          235 non-null    int64
 6   Migrants (net)           201 non-null    float64
 7   Fert. Rate               235 non-null    object
 8   Med. Age                 235 non-null    object
 9   Urban Pop %              235 non-null    object
 10  World Share              235 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.3+ KB

A descriptive statistical summary of this dataset is shown below:
       Population (2020)    Net Change  Density (P/Km²)  Land Area (Km²)  \
count       2.350000e+02  2.350000e+02       235.000000     2.350000e+02
mean        3.322744e+07  3.460878e+05       475.770213     5.535918e+05
std         1.353034e+08  1.128260e+06      2331.285935     1.687796e+06
min         8.010000e+02 -3.838400e+05         0.000000     0.000000e+00
25%         3.994905e+05  4.240000e+02        37.000000     2.545000e+03
50%         5.460109e+06  3.917000e+04        95.000000     7.724000e+04
75%         2.067170e+07  2.496600e+05       239.500000     4.038200e+05
max         1.440298e+09  1.358663e+07     26337.000000     1.637687e+07

       Migrants (net)
count      201.000000
mean         6.283582
std     123291.887548
min    -653249.000000
25%     -10047.000000
50%       -852.000000
75%       9741.000000
max     954806.000000

# Data Summary for Dataset 2
Load in Pre-Processed Data: EnrolmentbyInstitutions_processed.csv

Reference
1.	Enrolment by Institute: https://beta.data.gov.sg/datasets?topics=education&query=Labour+Force&resultId=452

Using Pandas Library



# Step 1 - Import Pandas Library

In [1]:
import pandas as pd

## Step 2 - Load the dataset

In [2]:
vFilePath = '../0_Dataset/EnrolmentbyInstitutions_processed.csv'
vDataFrame = pd.read_csv(vFilePath)

## Step 3 - Data Overview

In [3]:
print("---------------------- Data Overview ----------------------")
print("")
print("---------------- Enrolment by Institutions ----------------")

print("This is the shape of the dataset")
print(vDataFrame.shape)

print("\nThis is the index of the dataset")
print(vDataFrame.index)

print("\nThese are the columns in the dataset")
print(vDataFrame.columns)

print("\nThe total number of non-NA values in this dataset is:")
print(vDataFrame.notna().sum())

print("\nA summary of this dataset is shown below:")
vDataFrame.info()

print("\nA descriptive statistical summary of this dataset is shown below:")
print(vDataFrame.describe())

---------------------- Data Overview ----------------------

---------------- Enrolment by Institutions ----------------
This is the shape of the dataset
(123, 19)

This is the index of the dataset
RangeIndex(start=0, stop=123, step=1)

These are the columns in the dataset
Index(['year', 'sex', 'nus', 'ntu', 'smu', 'sit', 'sutd', 'suss', 'nie',
       'singapore_polytechnic', 'ngee_ann_polytechnic', 'temasek_polytechnic',
       'nanyang_polytechnic', 'republic_polytechnic', 'lasalle_diploma',
       'lasalle_degree', 'nafa_diploma', 'nafa_degree', 'ite'],
      dtype='object')

The total number of non-NA values in this dataset is:
year                     123
sex                      123
nus                      123
ntu                      123
smu                       69
sit                       39
sutd                      33
suss                      27
nie                      123
singapore_polytechnic    123
ngee_ann_polytechnic     123
temasek_polytechnic       99
nanyang_polytechnic       93
republic_polytechnic      60
lasalle_diploma           54
lasalle_degree            33
nafa_diploma              54
nafa_degree               36
ite                      123
dtype: int64

A summary of this dataset is shown below:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   123 non-null    int64
 1   sex                    123 non-null    object
 2   nus                    123 non-null    int64
 3   ntu                    123 non-null    int64
 4   smu                    69 non-null     float64
 5   sit                    39 non-null     float64
 6   sutd                   33 non-null     float64
 7   suss                   27 non-null     float64
 8   nie                    123 non-null    int64
 9   singapore_polytechnic  123 non-null    int64
 10  ngee_ann_polytechnic   123 non-null    int64
 11  temasek_polytechnic    99 non-null     float64
 12  nanyang_polytechnic    93 non-null     float64
 13  republic_polytechnic   60 non-null     float64
 14  lasalle_diploma        54 non-null     float64
 15  lasalle_degree         33 non-null     float64
 16  nafa_diploma           54 non-null     float64
 17  nafa_degree            36 non-null     float64
 18  ite                    123 non-null    int64
dtypes: float64(11), int64(7), object(1)
memory usage: 18.4+ KB

A descriptive statistical summary of this dataset is shown below:
              year           nus           ntu          smu          sit  \
count   123.000000    123.000000    123.000000    69.000000    39.000000
mean   2002.000000  14059.235772   9966.731707  3983.884058  3492.820513
std      11.880553   6541.833422   6565.943378  2459.601800  2428.300260
min    1982.000000   5343.000000     57.000000    93.000000   248.000000
25%    1992.000000   9115.500000   5171.000000  2420.000000  1587.500000
50%    2002.000000  12721.000000  10317.000000  3696.000000  3051.000000
75%    2012.000000  15469.000000  11930.000000  5276.000000  4682.000000
max    2022.000000  31191.000000  24074.000000  9883.000000  9688.000000

              sutd         suss          nie  singapore_polytechnic  \
count    33.000000    27.000000   123.000000             123.000000
mean    823.575758  1364.592593  1279.967480            8621.463415
std     445.757293  1090.091537   784.735916            3871.558856
min     149.000000    72.000000   171.000000            1069.000000
25%     522.000000   464.500000   792.000000            5520.500000
50%     713.000000  1139.000000  1085.000000            8233.000000
75%    1106.000000  2031.500000  1729.000000           12359.000000
max    1730.000000  3910.000000  3368.000000           15972.000000

       ngee_ann_polytechnic  temasek_polytechnic  nanyang_polytechnic  \
count            123.000000            99.000000            93.000000
mean            8782.991870          7879.151515          8382.967742
std             3790.083745          4340.247485          4101.027569
min             1153.000000           183.000000           119.000000
25%             6425.500000          5936.000000          6298.000000
50%             7655.000000          7332.000000          7506.000000
75%            12629.500000         10634.000000         10514.000000
max            16581.000000         16250.000000         16408.000000

       republic_polytechnic  lasalle_diploma  lasalle_degree  nafa_diploma  \
count             60.000000        54.000000       33.000000     54.000000
mean            7239.400000       961.444444      818.060606   1466.888889
std             4034.887734       430.260503      381.920717    646.683751
min              377.000000       408.000000      294.000000    546.000000
25%             5423.500000       619.750000      357.000000    709.000000
50%             6637.500000       843.000000      905.000000   1506.500000
75%             8612.250000      1222.250000     1166.000000   2074.500000
max            14995.000000      1948.000000     1339.000000   2537.000000

       nafa_degree           ite
count    36.000000    123.000000
mean     62.388889  13016.341463
std      91.385612   7087.103415
min       9.000000   2119.000000
25%      20.750000   8204.000000
50%      31.000000  11267.000000
75%      50.250000  16882.500000
max     433.000000  29295.000000

# Data Summary for Dataset 3
Load in Pre-Processed Data: EnrolmentPreUniversitybyLevelandCourse_processed.csv

Reference
1.	Enrolment at Pre-University by Level and Course: https://beta.data.gov.sg/datasets?topics=education&query=jc&resultId=d_a27483941350c79947ebac7803df48d7

Using Pandas Library

## Step 1 - Import Pandas Library

In [7]:
import pandas as pd

## Step 2 - Load the dataset

In [8]:
vFilePath = '../0_Dataset/EnrolmentPreUniversitybyLevelandCourse_processed.csv'
vDataFrame = pd.read_csv(vFilePath)

## Step 3 - Data Overview

In [9]:
print("---------------------- Data Overview ----------------------")
print("")
print("---------------- Enrolment Pre-University by Level and Course ----------------")

print("This is the shape of the dataset")
print(vDataFrame.shape)

print("\nThis is the index of the dataset")
print(vDataFrame.index)

print("\nThese are the columns in the dataset")
print(vDataFrame.columns)

print("\nThe total number of non-NA values in this dataset is:")
print(vDataFrame.notna().sum())

print("\nA summary of this dataset is shown below:")
vDataFrame.info()

print("\nA descriptive statistical summary of this dataset is shown below:")
print(vDataFrame.describe())

---------------------- Data Overview ----------------------

---------------- Enrolment Pre-University by Level and Course ----------------
This is the shape of the dataset
(1944, 5)

This is the index of the dataset
RangeIndex(start=0, stop=1944, step=1)

These are the columns in the dataset
Index(['year', 'level', 'course', 'sex', 'enrolment_preu'], dtype='object')

The total number of non-NA values in this dataset is:
year              1944
level             1944
course            1944
sex               1944
enrolment_preu    1830
dtype: int64

A summary of this dataset is shown below:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1944 entries, 0 to 1943
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            1944 non-null   int64
 1   level           1944 non-null   object
 2   course          1944 non-null   object
 3   sex             1944 non-null   object
 4   enrolment_preu  1830 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 76.1+ KB

A descriptive statistical summary of this dataset is shown below:
              year  enrolment_preu
count  1944.000000     1830.000000
mean   2001.148148     1275.759563
std      12.548072     2292.792904
min    1980.000000        9.000000
25%    1990.000000       75.250000
50%    2001.000000      262.500000
75%    2012.000000     1411.500000
max    2023.000000    13594.000000

# Data Summary for Dataset 4
Load in Pre-Processed Data: Graduatesbyinstitutions_processed.csv

Reference
1.	Graduates by Institute: https://beta.data.gov.sg/datasets?topics=education&query=Labour+Force&resultId=452

Using Pandas Library

## Step 1 - Import Pandas Library

In [10]:
import pandas as pd

## Step 2 - Load the dataset

In [11]:
vFilePath = '../0_Dataset/Graduatesbyinstitutions_processed.csv'
vDataFrame = pd.read_csv(vFilePath)

## Step 3 - Data Overview

In [12]:
print("---------------------- Data Overview ----------------------")
print("")
print("---------------- Graduates by Institutions ----------------")

print("This is the shape of the dataset")
print(vDataFrame.shape)

print("\nThis is the index of the dataset")
print(vDataFrame.index)

print("\nThese are the columns in the dataset")
print(vDataFrame.columns)

print("\nThe total number of non-NA values in this dataset is:")
print(vDataFrame.notna().sum())

print("\nA summary of this dataset is shown below:")
vDataFrame.info()

print("\nA descriptive statistical summary of this dataset is shown below:")
print(vDataFrame.describe())

---------------------- Data Overview ----------------------

---------------- Graduates by Institutions ----------------
This is the shape of the dataset
(120, 19)

This is the index of the dataset
RangeIndex(start=0, stop=120, step=1)

These are the columns in the dataset
Index(['year', 'sex', 'nus', 'ntu', 'smu', 'sit', 'sutd', 'suss', 'nie',
       'singapore_polytechnic', 'ngee_ann_polytechnic', 'temasek_polytechnic',
       'nanyang_polytechnic', 'republic_polytechnic', 'lasalle_diploma',
       'lasalle_degree', 'nafa_diploma', 'nafa_degree', 'ite'],
      dtype='object')

The total number of non-NA values in this dataset is:
year                     120
sex                      120
nus                      120
ntu                      120
smu                       60
sit                       33
sutd                      24
suss                      15
nie                      120
singapore_polytechnic    120
ngee_ann_polytechnic     120
temasek_polytechnic       96
nanyang_polytechnic       87
republic_polytechnic      51
lasalle_diploma           54
lasalle_degree            30
nafa_diploma              54
nafa_degree               30
ite                      120
dtype: int64

A summary of this dataset is shown below:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   120 non-null    int64
 1   sex                    120 non-null    object
 2   nus                    120 non-null    int64
 3   ntu                    120 non-null    int64
 4   smu                    60 non-null     float64
 5   sit                    33 non-null     float64
 6   sutd                   24 non-null     float64
 7   suss                   15 non-null     float64
 8   nie                    120 non-null    int64
 9   singapore_polytechnic  120 non-null    int64
 10  ngee_ann_polytechnic   120 non-null    int64
 11  temasek_polytechnic    96 non-null     float64
 12  nanyang_polytechnic    87 non-null     float64
 13  republic_polytechnic   51 non-null     float64
 14  lasalle_diploma        54 non-null     float64
 15  lasalle_degree         30 non-null     float64
 16  nafa_diploma           54 non-null     float64
 17  nafa_degree            30 non-null     float64
 18  ite                    120 non-null    int64
dtypes: float64(11), int64(7), object(1)
memory usage: 17.9+ KB

A descriptive statistical summary of this dataset is shown below:
              year          nus          ntu          smu          sit  \
count   120.000000   120.000000   120.000000    60.000000    33.000000
mean   2002.500000  3608.583333  2492.250000   884.133333   995.212121
std      11.591797  1512.608313  1655.552523   536.083584   542.160306
min    1983.000000  1337.000000     0.000000     4.000000    99.000000
25%    1992.750000  2579.500000  1300.000000   547.500000   653.000000
50%    2002.500000  3155.000000  2387.000000   837.000000   863.000000
75%    2012.250000  4627.500000  3162.250000  1074.750000  1285.000000
max    2022.000000  7277.000000  6476.000000  1982.000000  2185.000000

           sutd        suss          nie  singapore_polytechnic  \
count   24.0000   15.000000   120.000000             120.000000
mean   233.2500  264.133333  1036.366667            2620.583333
std    105.4544  178.257786   621.115071            1211.317295
min     93.0000   56.000000   124.000000             316.000000
25%    152.7500  133.500000   592.750000            1718.000000
50%    213.5000  204.000000   887.000000            2476.500000
75%    299.5000  377.500000  1423.250000            3614.750000
max    449.0000  662.000000  2772.000000            5082.000000

       ngee_ann_polytechnic  temasek_polytechnic  nanyang_polytechnic  \
count            120.000000            96.000000            87.000000
mean            2639.350000          2329.916667          2530.413793
std             1202.745198          1426.737454          1270.613115
min              343.000000            32.000000           103.000000
25%             1909.000000          1494.250000          1823.000000
50%             2320.500000          2257.000000          2303.000000
75%             3787.500000          2670.000000          2953.500000
max             5258.000000          5133.000000          5161.000000

       republic_polytechnic  lasalle_diploma  lasalle_degree  nafa_diploma  \
count             51.000000        54.000000       30.000000     54.000000
mean            2260.627451       273.222222      290.733333    390.814815
std             1216.248707       123.287005      136.563218    186.064512
min              291.000000        94.000000      102.000000    144.000000
25%             1581.500000       173.750000      134.250000    190.250000
50%             2088.000000       241.000000      309.000000    409.000000
75%             2724.500000       351.750000      400.750000    542.000000
max             4631.000000       578.000000      520.000000    735.000000

       nafa_degree           ite
count    30.000000    120.000000
mean     15.266667   6130.150000
std       7.196423   3072.809859
min       5.000000    905.000000
25%      10.000000   4069.500000
50%      13.000000   5355.500000
75%      19.000000   7678.250000
max      34.000000  13421.000000

# Data Summary for Dataset 5

Load in Pre-Processed Data: ITEIntakeEnrolmentandGraduatesbyCourse_processed.csv

Reference
1.	ITE Intake, Enrolment and Graduates by Course: https://beta.data.gov.sg/datasets?topics=education&query=Labour+Force&resultId=d_24b8751abfc87a4f054f61186c2fe1ba
    
Using Pandary
"""

## Step 1 - Import Pandas Library

In [13]:
import pandas as pd

## Step 2 - Load the dataset

In [14]:
vFilePath = '../0_Dataset/ITEIntakeEnrolmentandGraduatesbyCourse_processed.csv'
vDataFrame = pd.read_csv(vFilePath)

## Step 3 - Data Overview

In [15]:
vFilePath = '../0_Dataset/ITEIntakeEnrolmentandGraduatesbyCourse_processed.csv'
vDataFrame = pd.read_csv(vFilePath)

# Step 3 - Data Overview
print("---------------------- Data Overview ----------------------")
print("")
print("---------------- ITE Intake, Enrolment, and Graduates by Course ----------------")

print("This is the shape of the dataset")
print(vDataFrame.shape)

print("\nThis is the index of the dataset")
print(vDataFrame.index)

print("\nThese are the columns in the dataset")
print(vDataFrame.columns)

print("\nThe total number of non-NA values in this dataset is:")
print(vDataFrame.notna().sum())

print("\nA summary of this dataset is shown below:")
vDataFrame.info()

print("\nA descriptive statistical summary of this dataset is shown below:")
print(vDataFrame.describe())

---------------------- Data Overview ----------------------

---------------- ITE Intake, Enrolment, and Graduates by Course ----------------
This is the shape of the dataset
(252, 6)

This is the index of the dataset
RangeIndex(start=0, stop=252, step=1)

These are the columns in the dataset
Index(['year', 'sex', 'course', 'intake', 'enrolment', 'graduates'], dtype='object')

The total number of non-NA values in this dataset is:
year         252
sex          252
course       252
intake       252
enrolment    252
graduates    252
dtype: int64

A summary of this dataset is shown below:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       252 non-null    int64
 1   sex        252 non-null    object
 2   course     252 non-null    object
 3   intake     252 non-null    int64
 4   enrolment  252 non-null    int64
 5   graduates  252 non-null    int64
dtypes: int64(4), object(2)
memory usage: 11.9+ KB

A descriptive statistical summary of this dataset is shown below:
              year       intake    enrolment    graduates
count   252.000000   252.000000   252.000000   252.000000
mean   2015.500000  1616.309524  3021.253968  1372.428571
std       4.039151  1410.968913  2646.161319  1210.417816
min    2009.000000     0.000000     0.000000     0.000000
25%    2012.000000   485.250000   921.000000   398.750000
50%    2015.500000   930.000000  1792.500000   780.500000
75%    2019.000000  2672.500000  4998.500000  2328.750000
max    2022.000000  4685.000000  9064.000000  4050.000000